!!!
%html
  %head
    %title DoorkeeperProviderSample
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div{style: 'float: left;'}
      Oauth Provider Sample

    %div{style: 'float: right;'}
      - if current_user
        ようこそ #{current_user.email} さん！
      - else
        = link_to 'Sign In', new_user_session_path

    %div{style: 'clear: both;'}

    = yield
